@import url('https://fonts.googleapis.com/css?family=Barriecito&display=swap');
body {
    margin: 0;
    height: 100vh;
}

#world {
    display: block;
    z-index: 5;
    position: relative;
    /* z-index: 0; */
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(rgb(48, 48, 48), black);
}


/* #202427 */

#enter {
    position: absolute;
    font-family: 'Barriecito', cursive;
    font-weight: bold;
    font-size: 90px;
    width: 100%;
    left: 50%;
    top: 60%;
    color: red;
    transform: translate(-50%, -100%);
    user-select: none;
    transition: all 300ms ease-in-out;
    text-align: center;
}

#enter.hide {
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 300ms ease-in-out;
}

#gameoverInstructions {
    position: absolute;
    font-family: 'Barriecito', cursive;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 120px;
    text-align: center;
    color: red;
    opacity: 0;
    left: 50%;
    top: 30%;
    width: 100%;
    transform: translate(-50%, -100%);
    user-select: none;
    transition: all 500ms ease-in-out;
}

#gameoverInstructions.show {
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: all 500ms ease-in-out;
}

.label {
    font-family: 'Barriecito', cursive;
    color: white;
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
}

#distValue {
    position: relative;
    text-transform: uppercase;
    color: red;
    font-size: 30px;
    font-family: 'Barriecito';
    text-align: center;
}

.distVal {
    color: white;
    font-size: 20px;
    font-family: 'Barriecito';
    text-align: center;
}

.instructions {
    position: absolute;
    width: 100%;
    bottom: 1%;
    margin: auto;
    margin-bottom: 50px;
    font-family: 'Barriecito', cursive;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
    user-select: none;
}

.lightInstructions {
    position: absolute;
    width: 100%;
    bottom: 0%;
    padding-bottom: 20px;
    color: red;
    margin: auto;
    font-family: 'Barriecito', cursive;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
    user-select: none;
}

.garlic {
    color: #f2e9d2;
}

#Progress_Status {
    overflow: hidden;
    width: 100%;
    background-color: none;
    margin: 5px 0 0 0;
    border-radius: 20px;
    border: solid 1px rgb(31, 30, 30);
}

#myprogressBar {
    width: 50%;
    height: 25px;
    border-radius: 20px;
    background-color: red;
    text-align: center;
    line-height: 32px;
}

#levels {
    position: relative;
    display: block;
    z-index: -5;
    background: rgba(76, 175, 80, 0);
    /* Green background with 30% opacity */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#levels>div {
    margin: 20px;
}